@model Task1.Models.UserModel

<div>
	<h4>Login Failed</h4>
	<hr />

	<h3 class="text-danger">Incorrect username or password</h3>
	
</div>
<div>
	
	<p>
		<a asp-action="Index">Try again</a> | 
		<a asp-area="" asp-controller="Home" asp-action="Index">Back to main page</a>
	</p>
	
</div>
